@import "colors";

.btn {
	padding: 1.8rem 0;
	text-decoration: none;
	font-size: 2rem;
	line-height: 2.4rem;
	text-align: center;
	font-weight: 700;
	color: $gray;
	border-radius: 3px;
	box-sizing: border-box;
	display: inline-block;
	border: 1px solid;
	width: 290px;

	&--primary {
		background-color: $lite-white;
		border-color: $border-gray;
	}

	&--secondary {
		color: $white;
		background-color: $orange;
		border-color: $border-orange;
	}

	&--blue {
		color: $white;
		background-color: $lite-blue;
		border-color: $border-blue;
	}
}

//// Tablet screens
//@media all and (min-width: 768px) and (max-width: 1024px) {
//	.wp-forms {
//		.btn {
//			width: 250px;
//		}
//	}
//}
