$blue: #036AAB;
$white: #FFF;
$lite-white: #F8F8F8;
$off-white: #CCCCCC;
$black: #444444;
$orange: #E27730;
$lite-blue: #025A91;
$gray: #777777;
$lite-gray: #AAAAAA;
$border-gray: #DDDDDD;
$border-orange: #C15E26;
$border-blue: #024F80;